@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@500&display=swap");

/* reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
header {
    background-color: #dfe6e9; /* example color define later */
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    transition: background-color 0.3s ease; /* add transition for smooth color change */
}

header > img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
    margin-bottom: 4px;
}

header > button {
    display: inline-block;
    width: auto;
    height: 2.2rem;
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 14px; 
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* Content */

.clicker-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 0;
}

strong {
  font-weight: inherit;
}

.score-container {
    font-size: 18px;
    margin-top: 10px;
}

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.cookie-container img {
    width: 150px;
    height: auto;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #fbd81a;
    color: #72371b;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header > button {
        width: 100%;
        margin-top: 10px;
    }

    .clicker-container {
        margin: 20px 0;
    }

    h1 {
        font-size: 20px;
    }

    .score-container {
        font-size: 16px;
    }

    .cookie-container img {
        width: 100px; 
    }

    button {
        font-size: 14px;
    }
}

/* Responsive design for tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    header > img {
        width: 60px;
    }

    header > button {
        font-size: 16px;
    }

    .cookie-container img {
        width: 125px;
    }
}

/* Responsive design for desktop */
@media (min-width: 1025px) {
    header > img {
        width: 60px; 
    }

    header > button {
        font-size: 18px; 
    }

    .cookie-container img {
        width: 150px; 
    }
}

