@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #dfe6e9;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

header > img {
  width: 50px;
}

header > button {
  display: inline-block;
  width: 8rem;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

strong {
  font-weight: inherit;
}

/* Button styles */
.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 5px;
  font-weight: 700;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
